<div class="excel-upload-container">
<div class="row">
  <div class="col-md-4">
    <label>Upload Nifty 100 sheet</label> <br>
    <input type="file" (change)="onFileChange($event)" name="Nifty100" multiple="false" />
  </div>
  <div class="col-md-4">
    <label>Upload Daily Volatility sheet</label><br>
    <input type="file" (change)="onFileChange($event)" name="Volatility" multiple="false" />
  </div>
  <div class="col-md-4">
    <button class="" type="button" (click)="filterNiftyHundredStocks()"> Filter Nifty 100 Stocks </button>
  </div>
</div>
</div>
<app-table [volatilityData]="volatilityData"></app-table>
